In [1]:
# how to use groupby

import pandas as pd
import numpy as np

In [9]:
random_numbers = np.random.randn(1000)

df = pd.DataFrame(np.vstack((np.round(random_numbers*10),random_numbers)).T, columns=['Nround', 'N'])

df

     Nround         N
0      -0.0 -0.042270
1       2.0  0.204307
2     -11.0 -1.106645
3      -5.0 -0.521487
4      -6.0 -0.617667
..      ...       ...
995     1.0  0.118842
996    -2.0 -0.177144
997    20.0  1.996215
998    17.0  1.664322
999    -8.0 -0.815357

[1000 rows x 2 columns]

In [20]:
grouped_points = df.groupby(['Nround']) #.size().reset_index().rename(columns={0:'count'})


for group in grouped_points.groups:
    group_values = grouped_points.get_group(group)
    print(group, len(group_values), group_values.N.min(), group_values.N.max())

-29.0 1 -2.9474656159754895 -2.9474656159754895
-26.0 6 -2.635442220289392 -2.5837618536470535
-25.0 1 -2.4762476534004367 -2.4762476534004367
-24.0 2 -2.410584397855918 -2.3889649751991047
-23.0 2 -2.340546055119879 -2.3271006335853284
-22.0 2 -2.2247452660454865 -2.1727122566343815
-21.0 6 -2.145471581340244 -2.0599283023448787
-20.0 9 -2.0436396576775318 -1.9553659182604874
-19.0 9 -1.9436528610423227 -1.8596258873820957
-18.0 3 -1.7901404444267741 -1.7713189833133745
-17.0 7 -1.7388026673124493 -1.6500329347671636
-16.0 14 -1.6396191552579522 -1.5570882904829781
-15.0 11 -1.5365766728686612 -1.4516946763961254
-14.0 13 -1.4497636149308128 -1.3708619888781568
-13.0 13 -1.339056631276537 -1.25081811751303
-12.0 25 -1.2476733659551187 -1.1519395016891834
-11.0 28 -1.1469022522224521 -1.053189950546194
-10.0 28 -1.0471479009665863 -0.9560430469570662
-9.0 24 -0.9382984749911866 -0.8518970537147375
-8.0 35 -0.8467323270562956 -0.7501953199245789
-7.0 40 -0.7485907586761935 -0.6591492243441056
-6.0 28 -0.6494198466259302 -0.5527703134462537
-5.0 32 -0.5499538753467587 -0.4503466944978849
-4.0 38 -0.4477558377648764 -0.35002515369233345
-3.0 30 -0.3483664004910603 -0.2514994581517221
-2.0 43 -0.24761871675198657 -0.15204242160646886
-1.0 37 -0.14761658597285568 -0.050013023870448904
-0.0 40 -0.046925420839889785 0.049784115731174736
1.0 40 0.05006667223366338 0.14307116575845397
2.0 35 0.15081866634220664 0.24383613759934944
3.0 39 0.2541267227496272 0.34995564158136383
4.0 25 0.3595980495450791 0.44983395721582675
5.0 30 0.45323061820050164 0.5418531198721213
6.0 30 0.5537604553325021 0.6497269394214791
7.0 41 0.6500871963976055 0.7467857149668694
8.0 28 0.7519300558066013 0.847743766991878
9.0 28 0.851852055191623 0.9473413251934705
10.0 21 0.950861267363181 1.0495307506243994
11.0 29 1.0518573044234216 1.14238667963228
12.0 21 1.1507058183221452 1.2345600193912414
13.0 13 1.2504059170719442 1.3274774391624728
14.0 14 1.3609682047769733 1.4469087304413493
15.0 11 1.4661537460125658 1.5358946605855834
16.0 11 1.5633294270376343 1.6476895550015878
17.0 10 1.6505608499837288 1.7457917479645984
18.0 11 1.7521318252398654 1.8474244423629003
19.0 6 1.851092950333358 1.9475619338910437
20.0 9 1.9836916566274243 2.0464809353590447
21.0 4 2.0698075347008213 2.1441779575962094
22.0 6 2.1701657550825018 2.2425068544955873
23.0 5 2.2880810433078747 2.3220308064002118
24.0 2 2.382371713462124 2.395514081330068
25.0 1 2.5378025682801986 2.5378025682801986
26.0 1 2.550999648233053 2.550999648233053
27.0 1 2.667161882870655 2.667161882870655
31.0 1 3.1387051947642166 3.1387051947642166

In [22]:
df.groupby('N').mean()

           Nround
N
-2.947466   -29.0
-2.635442   -26.0
-2.622581   -26.0
-2.619704   -26.0
-2.588423   -26.0
...           ...
 2.395514    24.0
 2.537803    25.0
 2.551000    26.0
 2.667162    27.0
 3.138705    31.0

[1000 rows x 1 columns]